*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.user{
  position: relative;
  width:50px;
  height: 50px;
}
.user img{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  object-fit:cover;
}
.topbar{
  position: fixed;
  background:#fff;
  box-shadow:0 1px 1px rgba(243, 238, 238, 0.984);
  width:100%;
  height:100px;
  padding:0 20px;
  display:grid;
  grid-template-columns: 2fr 10fr 0.4fr 1fr;
  align-items:center;
  z-index: 1;
  background-color: white;
  top: 0px;
}
.person{
  position: relative;
 padding-left: 100px;
 display: flex;
}
.person i{
  font-size: 40px;
  padding-right: 60px;
}
.person input{
width:100%;
height: 40px;
padding:0 40px;
font-size: 16px;
outline: none;
border: none;
border-radius: 10px;
background:#f5f5f5;
}
.search i{
  position: absolute;
  right:15px;
  top:15px;
}
.sidebar ul{
  margin-top: 20px;
  padding-left: 0px;;
  }
  
  .sidebar ul li {
    width:100%;
    list-style: none;
  }
  .sidebar{
    position: fixed;
    top:100px;
    width:220px;
    height:100%;
    background: #ed0a0a;
    overflow-x: hidden;
  }
  .sidebar ul li a {
    width:100%;
    text-decoration: none;
    color:#fff;
    height:60px;
    align-items:center;
    font-size: 15px;
    font-family: "Public Sans",sans-serif;
    padding-left: 18px;
    transition:background-color 1s;
    display:flex;
  }
.sidebar ul li i {
  min-width:50px;
  font-size: 15px;
  text-align: center;
  display:flex;
}

.sidebar ul li:hover{
 /* background: white; */
  color:black;
}
.sidebar ul li a:hover{
  background: white;
  color:black;   
}


.main{
  position:absolute;
  top:60px;
  width:calc(100% - 260px);
  left:500px;
  min-height:calc(100vh - 60px);
}
.cards{
  width:100%;
  display:grid;
  padding-top: 120px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 280px;
  grid-template-columns:repeat(6,1fr);
  grid-gap:20px;
}
.cards .card{
  padding:70px;
  align-items: center;
  justify-content: space-between;
  background:#fff;
  box-shadow:0 7px 25px 0 rgba(0, 0, 0, 0.08);
}
.cards .card:hover .number{
  color:black;
  background-color:#ed0a0a;
}
.cards .card:hover .icon-box i{
  color:black;
  background-color:#ed0a0a;
}
.cards .card:hover{
  color:black;
  background-color:#ed0a0a;
}
.number{
  font-size:18px;
  color:black;
  font-family: "Public Sans",sans-serif;
}
.link {
  text-decoration: none;
}
.icon-box i{
  font-size:40px;
  color:rgb(225, 43, 43);
}
.icon-box {
  display:flex;
  justify-content: center;  
}
.students{
  display:grid;
  grid-template-columns:2fr 1fr;
   grid-gap:30px;
   width:140%;
   padding-left: 20%;
   padding-top:8%;
}
.student{
  background:#fff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 7px 25px rgba(0,0,0,0.08);
  width:100%;
}
.student h2{
  text-align: start;
  color:black;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  justify-content: space-between;
}
.lab{
  height: 30px;
  background: #99d5f4;
  border-radius: 1px;
  color:black;
  font-size: 15px;
  border: none;
}
.lab:hover{
  color:black;
  background-color: #ed0a0a;
}

.teacher{
  display:grid;
  grid-template-columns:1fr;
   grid-gap:30px;
   width:99%;
   padding-left: 20%;
   padding-top:10%;
}
.teach{
  background:#fff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 7px 25px rgba(0,0,0,0.08);
  width:100%;
}
.teach h2{
  text-align: start;
  color:black;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
}
.create{
  display: flex;
}

.schools{
  display:grid;
  grid-template-columns:2fr 1fr;
   grid-gap:30px;
   width:140%;
   padding-left: 20%;
   padding-top:10%;
}

.submit {
  width:140px;
  height: 40px;
  background: #0ebd02;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-left:10px;
}
.school{
  background:#fff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 7px 25px rgba(0,0,0,0.08);
  width:100%;
}
.school h2{
  text-align:start;
  color:black;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
}
.Address {
  font-size: 30px;
  align-items: center;
}
.user {
  margin-left:auto ;
  margin-right:auto;
  font-size: 30px;
}
h6{
text-align: center;
padding-bottom: 20px;
}
.deposits{
  display:grid;
  grid-template-columns:2fr 1fr;
   grid-gap:30px;
   width:140%;
   padding-left: 20%;
   padding-top:8%;
}
.deposit{
  background:#fff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 7px 25px rgba(0,0,0,0.08);
  width:100%;
}
.pay {
  width:100px;
  height: 35px;
  background:red;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  border: none;
}
.container{
  justify-content: space-between;
}
.button {
  padding: 10px 20px;
  background-color: #c7f1f7;
  color:black;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover{
  color:black;
  background-color: #ed0a0a;
}
.view{
  padding: 10px 20px;
  background-color: #c7f1f7;
  color:black;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.view:hover{
  color:black;
  background-color: #ed0a0a;
}

.slot {
  width:60px;
  height: 35px;
  background:red;
  border-radius: 5px;
  color:black;
  font-size: 15px;
  border: none;
}
.time{
  padding:10px 20px;
  background-color: #c7f1f7;
  color:black;
  border: none;
  font-size: 14px;
  margin: 4px 2px;
  justify-content: space-between;
}
.time:hover{
  color:black;
  background-color: #ed0a0a;
}


.appointments{
  display:grid;
  grid-template-columns:1fr 1fr;
   grid-gap:10px;
   width:97%;
   padding-left: 20%;
   padding-top:10%;
}
.appointment{
  background:#fff;
  padding:30px;
  border-radius:10px;
  box-shadow:0 7px 25px rgba(0,0,0,0.08);
  width:100%;
}
.prescription h2{
  text-align:start;
  color:black;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
}
.radio{
 display: flex;
}
.prescriptions{
  display:grid;
  grid-template-columns:2fr 1fr;
   grid-gap:10px;
   width:130%;
   padding-left: 20%;
   padding-top:10%;
}
.prescription{
  background:#fff;
  padding:30px;
  border-radius:10px;
  box-shadow:0 7px 25px rgba(0,0,0,0.08);
  width:100%;
}
.view-button{
  padding: 10px 20px;
  background-color:red;
  color:black;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



login {
  font-family: Arial, sans-serif;
  background-image:rgb(195, 183, 183);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#login-container{
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;  
  text-align: center;
}

.btn btn-primary{
  background-color:rgb(234, 13, 13);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 50%;
}
col{
  text-align: start;
}
user{
  text-align: center;
}

@media(max-width:1115px){
  .sidebar{
      width:60px;
  }
  .main{
      left:60px;
      width:calc(100% - 60px);
  }
}
@media (max-width:500px){
  .cards{
    grid-template-columns:repeat(2,1fr)
  }  
  .charts{
    grid-template-columns: 1fr;
  }
}
@media (max-width:500px){
  
  .schools{
    grid-template-columns: 1fr;
  }
}
@media (max-width:500px){
  
  .students{
    grid-template-columns: 1fr;
  }
}
@media (max-width:500px){
  .cards{
    grid-template-columns:1fr
  }  
  .teacher{
    grid-template-columns: 1fr;
  }
}
.sign{
  font-size: 12px;
  font-weight: bold;
}
.up{
  text-align: center;
}
.register{
  background-color:rgb(234, 13, 13);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 50%;
}
.account{
  font-family: Arial, sans-serif;
  background-image:rgb(195, 183, 183);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#sign-container{
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;  
  text-align: center;
}














